.search-col{
    background-color: rgb(231, 231, 231);
    height: 100vh;
    padding-top: 15px;
}

.jumbotron{
    margin-bottom: 0px;
    background-image: url("../static/media/bg.jpg");
    background-size: cover;
}

.weather-band{
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    opacity: 75%;
}

.display-4{
    color: rgb(43, 43, 44);
    font-family: 'Dosis', sans-serif;
}

.input-group{
    padding-top: 10px;
}

.card-header{
    margin-bottom: 10px;
    
}

.forecast{
    margin-top: 10px;
}

.weatherCard{
    margin-top: 10px;
}

.low{
    border-radius: 3px;
    padding: 2px;
    color: white;
    background-color: green;
}

.moderate{
    border-radius: 3px;
    padding: 2px;
    color: black;
    background-color: yellow;
}

.high{
    border-radius: 3px;
    padding: 2px;
    color: black;
    background-color: orange;
}

.vhigh{
    border-radius: 3px;
    padding: 2px;
    color: white;
    background-color: red;
}

.extreme{
    border-radius: 3px;
    padding: 2px;
    color: white;
    background-color: violet;
}